.app-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  background-size: cover;
}

.match-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.main-image {
  display: contents;
}
.match-image {
  width: 50%;
  padding-top: 50px;
}
.tab-list-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.images-list-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.designed {
  color: #ffff;
  display: flex;
  font-size: 15px;
  font-family: 'Ubuntu';
}

.link {
  color: #fec653;
}
