.tab-item {
  list-style-type: none;
  margin: 10px;
}

.tab-button {
  background-color: transparent;
  color: #ffff;
  font-weight: 800;
  font-family: 'Roboto';
  border-width: 0px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
}

.color {
  color: #fec653;
  border-bottom: 3px;
  border-color: #fec653;
  border-style: solid;
}
